*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Arial, sans-serif;
background:#f8fafc;
color:#333;
line-height:1.6;
}

img{
max-width:100%;
}

section{
padding:4rem 8%;
}

h2{
text-align:center;
margin-bottom:2rem;
font-size:2rem;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:1rem 8%;
background:#1e293b;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:1.5rem;
font-weight:bold;
}

.nav-links{
list-style:none;
display:none;
flex-direction:column;
position:absolute;
top:70px;
left:0;
width:100%;
background:#1e293b;
}

.nav-links li{
text-align:center;
padding:1rem;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-links.active{
display:flex;
}

.menu-btn{
font-size:1.5rem;
cursor:pointer;
}

/* HERO */

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;

background:
linear-gradient(
135deg,
#2563eb,
#8b5cf6
);

color:white;
}

.hero h1{
font-size:2.5rem;
margin-bottom:1rem;
}

.hero h2{
margin-bottom:1rem;
}

.hero p{
max-width:600px;
margin:auto;
margin-bottom:2rem;
}

.btn{
background:white;
color:#2563eb;
padding:0.9rem 1.5rem;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

/* ABOUT */

.about{
text-align:center;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:1fr;
gap:1rem;
}

.skill-card{
background:white;
padding:1rem;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
text-align:center;
font-weight:bold;
}

/* PROJECTS */

.projects-grid{
display:grid;
grid-template-columns:1fr;
gap:1.5rem;
}

.project-card{
background:white;
padding:1.5rem;
border-radius:12px;
box-shadow:0 2px 12px rgba(0,0,0,0.1);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-5px);
}

/* CONTACT */

.contact{
text-align:center;
}

.socials{
margin-top:1rem;
display:flex;
justify-content:center;
gap:1rem;
}

.socials a{
text-decoration:none;
color:white;
background:#2563eb;
padding:0.8rem 1rem;
border-radius:8px;
}

/* FOOTER */

footer{
background:#1e293b;
color:white;
text-align:center;
padding:1rem;
}

/* TABLET */

@media(min-width:768px){

.skills-grid{
grid-template-columns:
repeat(2,1fr);
}

.projects-grid{
grid-template-columns:
repeat(2,1fr);
}

}

/* DESKTOP */

@media(min-width:1024px){

.menu-btn{
display:none;
}

.nav-links{
display:flex;
position:static;
flex-direction:row;
width:auto;
gap:2rem;
}

.skills-grid{
grid-template-columns:
repeat(4,1fr);
}

.projects-grid{
grid-template-columns:
repeat(3,1fr);
}

.hero h1{
font-size:4rem;
}

}